.footer {
    height: 100%;
    background-color: rgb(240, 243, 245);
    border-top: 1px solid #c8ced3;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.footer span {
    font-size: 0.875rem;
}